<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facespace</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="profile-page">
    <header class="header">
      <h1 class="site-title"><a href="/">Facespace</a></h1>
      <p class="signin-text">
        <% if (currentUser.hasOwnProperty('name')) { %> Howdy, <%=
        currentUser.name %> <% } else { %>
        <a href="/signin" class="login">Sign in</a>
        <% } %>
      </p>
    </header>
  </body>
</html>
