<%- include('../partials/header') %>
<div>
  <form method="get" action="/getname">
    <label for="firstName">First name</label>
    <input type="text" name="firstName" placeholder="Your first name" />
    <button type="submit">Submit</button>
  </form>
</div>
<%- include('../partials/footer') %>
